// This is the main box styles
.search-result {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	// This is the header of page styles
	.result-header {
		width: 100%;
		max-height: 260px;
		display: flex;
		flex-direction: column;
		background-color: #d9d9d9;
		justify-content: flex-start;

		// This is the search filter styles
		.search-box {
			width: 100%;
			max-height: 150px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 10px 0 10px 0;

			.search-b {
				width: 100%;
				height: 120px;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: height 0.5s;
			}

			.off-screen {
				height: 0px;
				overflow: hidden;
				transition: height 0.5s;
			}

			.oc-icon {
				cursor: pointer;
				width: 24px;
				height: 24px;
			}
		}
	}
	// This is the results styles
	.results {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		padding: 20px 0;
	}
}
