.navbar {
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: 100px;
    // padding: 11px 10px;
    .nav-menu {
        // wrapper of all menu-items inside nav
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 30px;

        .bar {
			display: none;
		}

        li {
            // all li should have these styles
            display: inline;
            list-style-type: none;
            // padding: {
            //     top: 5px;
            // }
            cursor: pointer;
            a {
                // all a in li should have these styles
                color: black;
                text-decoration: none;
                font-size: 20px;
                font-weight: 400;
                border-left: 1px solid black; // a seprator
                padding-left: 5px;
            }
            span {
                font-size: 20px;
                margin: {
                    right: 5px;
                    left: 10px;
                }
                padding-top: 5px;
            }
        }
        .nav-items {
            // all nav-items except the tracket icon
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 45%;
            height: 100%;
            padding: 0px;
        }
        // .nav-item {
        //     // all nav-items except the tracket icon
        //     margin-top: 11px;
        // }
        .plane-text {
            &:hover {
                color: $plane-icon-color;
            }
        }
        .plane-icon {
            color: $plane-icon-color;
        }
        .train-text:hover {
            color: $train-icon-color;
        }
        .train-icon {
            color: $train-icon-color;
        }
        .bus-text:hover {
            color: $bus-icon-color;
        }
        .bus-icon {
            color: $bus-icon-color;
        }
        .login-register {
            // margin-top: 11px;
            .user-icon {
                color: $home-login-background;
            }
            a {
                border: none;
                &:hover {
                    color: $home-login-background;
                }
            }
        }
    }
}

.tracketIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150.5px;
    height: 50.5px;
}

.message {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $home-search-box-background;
    color: white;
    direction: rtl;
    display: none;

    a {
        text-decoration: none;
    }
}

.message.active {
    display: flex;
}

@media screen and (max-width: 1024px) {
    .navbar {
        position: relative;
        .nav-menu {
            .bar {
                display: inline-block;
                cursor: pointer;
            }

            .nav-items {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                background-color: rgb(245, 245, 245);
                border-radius: 30px;
                border: 2px solid black;
                outline: none;
                position: absolute;
                min-width: 300px;
                width: 30%;
                height: calc(60vh - 75px);
                top: 75%;
                right: 1%;
                display: none;
                z-index: 3;
            }

            .nav-items.opened {
                display: flex;
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .navbar{
        .login-register{
            a{
                .title{
                    display: none;
                }
            }
        }
    }
    
}