.item-cont {
    margin-bottom: 50px;
}

.cont-name {
    font-weight: 600;
    font-size: 20px;
}

.cont-value {
    font-weight: 500;
    margin-right: 29px;
    font-size: 17px;
}

button {
    width: 150px;
    height: 47px;
    border-radius: 13px;
    cursor: pointer;
}