@import url("https://v1.fontapi.ir/css/Shabnam");

$global-font-family: "Shabnam", sans-serif;
$home-login-background: #ff4e00;
$home-search-box-background: #fed000;
$button-color: #ff7701;
$login-register-font-color: #ffd000;
$global-text-color: #ffffff;


// icons
$plane-icon-color: #207de9;
$train-icon-color: #ff3333;
$bus-icon-color: #478778;
