@import url('https://v1.fontapi.ir/css/Shabnam');

$global-font-family: 'Shabnam', sans-serif;
$home-login-background: #FF4E00;
$home-search-box-background: #FED000;
$button-color: #FF7701;
$login-register-font-color: #FFD000;
