@import "./defaults/defaults";
@import "./navBar/navBar";

body {
	margin: 0;
}

* {
	font-family: $global-font-family;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #c9c8c8;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $button-color;
	border-radius: 10px;
}

//Create this style for all button
button {
	cursor: pointer;
	background-color: $home-login-background;
	color: $global-text-color;
	border: none;
}

//Create a this class to use in sign-in and sign-up
@mixin sign {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #e8e8e8;
	border-radius: 20px;
	max-width: 365px;
	width: 100%;
	height: 100%;

	button {
		width: 169px;
		height: 34px;
		border-radius: 20px;
		font-weight: 200;
		font-size: 16px;
	}
}

@mixin sign-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
	width: 100%;
	height: 313px;
	p {
		cursor: pointer;
		text-align: right;
		font-weight: 200;
		font-size: 16px;
		border-bottom: 1px solid #000;
	}
}

//Create this style for all input elements
input {
	width: 200px;
	height: 37px;
	padding: 5px;
	border-radius: 10px;
	text-align: right;
	border: none;
	font-weight: 200;
	font-size: 15px;
	line-height: 23px;
	&::placeholder {
		text-align: right;
	}
}

input[type="number"], input[type="date"], input[type="password"] {
	text-align: left;
}

//Create this class for all pages that component on center
.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

//Create this class for counter input
.counter {
	display: flex;
	align-items: center;
	justify-content: center;
	direction: ltr;

	.counter-input {
		width: 40px;
		border: none;
		text-align: center;
		pointer-events: none;
	}

	.counter-btn {
		cursor: pointer;
		border-radius: 0px;
		width: 30px !important;
		background-color: transparent;
		color: #000;
		font-size: 20px;

		&:hover {
			background-color: transparent;
		}
	}
}

@import "./dashboardStyle/dashboard";
@import "./homePageStyle/home-page";
@import "./login-registerPageStyle/sign";
@import "./resultPageStyle/ticketInRes";
@import "./resultPageStyle//resultPage";
