.home {
    transform: all 0.5s ease;
}

.search-box-container {
    background-color: white;
    width: 100%;
    height: 500px;
}

// search-box background (the outer box)
.search-box-back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    border-radius: 162px 0;
    transition: background 0.5s ease;
}

// search-box self (the inner box)
.search-box-self {
    width: 80%;
    height: 300px;
    background-color: #fed000;
    margin-top: 250px;
    border-radius: 63px;
}

.item-selection-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    width: 100%;
    height: 100px;
}

// the stuff in all three selectors
.plane-selector-container,
.train-selector-container,
.bus-selector-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    // will do it for all the icons
    span {
        font-size: 2rem;
    }
    .plane-icon {
        color: $plane-icon-color;
    }
    .train-icon {
        color: $train-icon-color;
    }
    .bus-icon {
        color: $bus-icon-color;
    }
    button {
        // all the search box toggle buttons
        font-family: $global-font-family;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.slot-container {
    display: flex;
    direction: rtl;
    align-items: center;
    justify-content: start;
    padding: {
        top: 55px;
        right: 60px;
        left: 60px;
    }
    div {
        // all divs in all three search boxes
        margin-left: 25px;
    }
    input {
        // all inputs in all three search boxes
        width: 150px;
        border: 1px solid $home-login-background;
        font-family: $global-font-family;
        &::placeholder {
            text-align: center;
        }
    }
    button {
        // search btn
        background-color: $home-login-background;
        border: none;
        font-family: $global-font-family;
        width: 150px;
        height: 47px;
        border-radius: 13px;
        cursor: pointer;
        transition: background 0.3s ease;
        &:hover {
            background-color: $button-color;
        }
    }
}

.divider {
    width: 100%;
    height: 5px;
    background-color: $home-login-background;
    transition: background 0.3s ease;
}

.services {
    display: flex;
    direction: rtl;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .col {
        display: flex;
        flex-wrap: wrap;
        .icon {
            font-size: 2.5rem;
            color: #a3a3a3;
            margin-top: 0.9rem;
        }
        .text-cont {
            line-height: 1rem;
            margin-right: 8px;
            .topic {
                font-size: 1.1rem;
                font-weight: 700;
            }
            .desc {
                color: #a3a3a3;
            }
        }
    }
}

.slider-container {
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .slider {
        width: 90%;
        height: 600px;
        background-color: white;
        border-radius: 40px;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
}

.about-us {
    direction: rtl;
    padding: 2rem 5rem;
    .paragragh {
        p {
            padding: 1.5rem;
            line-height: 1.5rem;
            font-size: 1rem;
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    background-color: white;
    direction: rtl;
    .right-side {
        font-family: $global-font-family;
        display: flex;
        flex-direction: column;
        color: white;
        font-size: large;
        padding: {
            top: 40px;
            right: 50px;
        }
        width: 60%;
        background-color: $home-login-background;
        border-radius: 168px 0px 0px 0px;
        .link-to-social-media {
            display: flex;
            justify-content: space-between;
            width: 15%;
        }
        p {
            margin-top: 30px;
        }
        .address {
            margin-top: 50px;
        }
    }
    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 40%;
        background-color: white;
        .icon-container {
            height: 267px;
            background-color: white;
            padding: 70px 150px;
            border-radius: 0px 0px 128px 0px;
            position: absolute;
            .tracketIcon {
                width: 350px;
                height: 150px;
            }
        }
        .part-under-icon {
            // the red like part under the tracket icon
            background-color: $home-login-background;
            height: 125px;
        }
    }
}
